body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    background-color: #f0f0f0;

}
.mobile-screen{
    width: 360px;
    height: 640px;
    background-color: #ede7e7;
    border: 1px solid #ccc;
    border-radius: 20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    box-shadow:0 4px 8px rgba(0,0,0,0.1); 
}
button{
    padding: 10px 20px;
    font-size: 16px;
    margin-top:20px;
    border-radius:5px;
    cursor:pointer;
}
